

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B3954;
    padding: 10px 30px;
    border-bottom: 2px solid #FF5A5F;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}


